.sidebar.sidebar {
  --_vertical-margin: 1rem;
  margin: var(--_vertical-margin) 1rem;
  height: calc(100% - var(--_vertical-margin) * 2);
  width: 100%;
}

.tabs {
  height: 100%;
  width: 100%;
}
.tabPanels {
  height: calc(100% - var(--_tab-list-height, 0));
}
.tabPanel.tabPanel {
  height: 100%;
  padding-left: 0;
  padding-right: 0;
}

.songItem {
  padding: 8px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  cursor: pointer;

  transition: background-color 0.15s ease-in;

  &:hover,
  &.active {
    background-color: rgba(0, 255, 255, 0.08);
  }

  &.active:hover {
    background-color: rgba(0, 255, 255, 0.16);
  }
}
