/* TODO: http://localhost:3333/?path=/settings/whats-new */

:root {
  /* colors */
  --cb-yellow-main: hsl(58, 100%, 48%);
  --cb-yellow-alt: hsl(73, 100%, 68%);
  --cb-black: hsl(0, 0%, 0%);
  --cb-turquoise: hsl(184, 100%, 50%);
  --cb-turquoise-transparent: hsla(184, 100%, 50%, 0.12);
  --cb-white: hsl(0, 0%, 100%);
  --cb-gray: hsl(10, 6%, 79%);
  --cb-darkest-gray-transparent: hsla(300, 18%, 8%, 0.8);
  --cb-darkest-gray: hsl(300, 18%, 8%);
  --cb-red: hsl(3, 100%, 67%);
  --cb-green: hsl(149, 85%, 52%);
  --cb-midnight-navy: hsl(240, 50%, 6%);

  /* other */
  --cb-font-family-bold: 'Blender Pro Bold', sans-serif;
  --cb-font-size-small: 14px;
  --cb-font-size: 16px;
  --cb-font-size-large: 18px;
}

/* TODO: use fonts from src? */
@font-face {
  font-family: 'Blender Pro Book';
  src: local('Blender Pro Book'), local('Blender-Pro-Book'),
    url('../fonts/BlenderPro-Book.woff2') format('woff2'),
    url('../fonts/BlenderPro-Book.woff') format('woff'),
    url('../fonts/BlenderPro-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Blender Pro Bold';
  src: local('Blender Pro Bold'), local('Blender-Pro-Bold'),
    url('../fonts/BlenderPro-Bold.woff2') format('woff2'),
    url('../fonts/BlenderPro-Bold.woff') format('woff'),
    url('../fonts/BlenderPro-Bold.otf') format('opentype'),
    url('../fonts/BlenderPro-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Audiowide Mono';
  src: local('Audiowide Mono'), local('Audiowide-Mono'),
    url('../fonts/Audiowide-Mono-301.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
