@value tabs from "./Tabs.module.css";

.underline {
  composes: tabs;

  & [data-reach-tab-list] {
    /* gap will break hover animation logic - use paddings only (not margins). tabs must 'touch' each other */
    gap: 0 !important;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      height: 2px;

      transition: all 0.2s ease-in-out;

      scale: var(--_width, 0) 1;
      translate: var(--_left, 0);
      transform-origin: left;

      background-color: var(--cb-secondary-color);
    }

    &:has([data-selected][disabled])::before {
      opacity: 0.3;
    }

    &::after {
      content: '';
      left: 0;
      bottom: 0;
      height: 2px;
      position: absolute;
      width: 100%;

      background-color: var(--cb-secondary-color);
      opacity: 0.2;
    }
  }

  & [data-reach-tab] {
    display: flex;
    align-items: center;

    position: relative;

    /* margin will break animation logic - use paddings only. tabs must 'touch' each other */
    margin: 0 !important;

    height: 48px;

    color: var(--cb-secondary-color);

    padding: 0 16px;
    &:dir(rtl):first-of-type {
      padding-right: 0;
    }
    &:dir(ltr):first-of-type {
      padding-left: 0;
    }
    &:dir(rtl):last-of-type {
      padding-left: 0;
    }
    &:dir(ltr):last-of-type {
      padding-right: 0;
    }

    & [data-reach-tab-clone] {
      opacity: 0;
      letter-spacing: -0.5px;
      font-family: 'Blender Pro Bold', sans-serif;
    }

    & [data-reach-tab-content],
    & [data-reach-tab-clone] {
      transition: opacity 0.2s ease-in-out;
    }

    &[data-selected],
    &:not([disabled]):hover {
      & [data-reach-tab-content] {
        opacity: 0;
      }
      & [data-reach-tab-clone] {
        opacity: 1;
      }
    }

    &:focus-visible {
      outline: none;

      :global(.cyberpunk-ui-theme-white-on-black) & [data-reach-tab-clone] {
        text-shadow: 0 0 3px var(--cb-accent-color-alt),
          0 0 7px var(--cb-accent-color-alt),
          0 0 12px var(--cb-accent-color-alt);
      }

      :global(.cyberpunk-ui-theme-yellow) & [data-reach-tab-clone] {
        text-shadow: 0 0 3px var(--cb-accent-color), 0 0 7px var(--cb-white),
          0 0 12px var(--cb-accent-color);
      }

      :global(.cyberpunk-ui-theme-dark-red) & [data-reach-tab-clone] {
        text-shadow: 0 0 1px hsla(var(--cb-white-base), 0.5),
          0 0 2px var(--cb-secondary-color), 0 0 13px var(--cb-secondary-color);
      }

      :global(.cyberpunk-ui-theme-dark) & [data-reach-tab-clone] {
        text-shadow: 0 0 1px var(--cb-accent-color),
          0 0 5px var(--cb-accent-color), 0 0 12px var(--cb-accent-color);
      }
    }
  }

  & [data-reach-tab-panel] {
    &:focus-visible {
      outline: 1px solid var(--cb-accent-color);
    }

    :is(:global(.cyberpunk-ui-theme-dark-red)) &:focus-visible {
      outline: 1px solid var(--cb-secondary-color);
    }

    :is(:global(.cyberpunk-ui-theme-white-on-black)) &:focus-visible {
      outline: 1px solid var(--cb-accent-color-alt);
    }
  }
}
